.banner{
    background-image: url(../images/Ghibli_Banner.png);
    background-size: cover;
}

.banner h1{
    text-align: center;
    padding: 10%;
    color: white;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
}

.banner img{
    width: 100%;
    
}